API_ID=21911467
API_HASH=2e37d8eb31651b4d5c3391f8778c63a9
BOT_TOKEN=8328343387:AAEQclxRnJyXzYBhGQdazKOHz3gfF9fG_C0
LOG_GROUP_ID=-1003368938931
API_KEY=NxGBNexGenBotsa54535
MONGO_DB_URI=mongodb+srv://music1ygffygfgdf_db_user:music1ygffygfgdf_db_user@cluster0.0lbiwen.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7538752811
STRING_SESSION=

